{% extends 'base.html.twig' %}

{% block title %}Recettes Aléatoires
{% endblock %}

{% block body %}
	<div class="flex justify-center mt-32">
		<h1 class="text-center text-4xl font-bold text-indigo-600 font-sans leading-9 tracking-tight">
			Recette Aléatoire
		</h1>
	</div>
	
	<div class="flex justify-center mt-8">
        <h2 class="text-center text-4xl font-bold text-indigo-600 font-sans leading-9 tracking-tight">
            {{ recipe.name }}
        </h2>
    </div>
	<div class="flex justify-center mt-4">
        <h3 class="text-center text-2xl font-bold text-indigo-600 font-sans leading-9 tracking-tight">
            Ingrédients
        </h3>
    </div>
    <div class="flex justify-center mt-4">
        <ul class="list-disc list-inside">
            {% for ingredient in recipe.ingredients %}
                <li class="text-slate-400">{{ ingredient }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="flex justify-center mt-4">
        <h3 class="text-center text-2xl font-bold text-indigo-600 font-sans leading-9 tracking-tight">
            Temps de préparation : {{ recipe.preparationTime }}
        </h3>
    </div>
    <div class="flex justify-center mt-4">
        <h3 class="text-center text-2xl font-bold text-indigo-600 font-sans leading-9 tracking-tight">
            Temps de cuisson : {{ recipe.cookingTime }}
        </h3>
    </div>
    <div class="flex justify-center mt-4">
        <h3 class="text-center text-2xl font-bold text-indigo-600 font-sans leading-9 tracking-tight">
            Sert : {{ recipe.serves }} personnes
        </h3>
    </div>

{% endblock %}
